<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <header hidden="hidden">LURA Dashboard</header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom-card.js') }}"></script>
  </head>
  <body>
    <div class="dashboard">
      <aside class="sidebar">
          <img src="/static/assets/logo.png" class="tab-icon" style="width:30px; height:38px">
          <a href=flight-data class="tab-icon fa-solid fa-rocket"></a>
          <a href=telemetry class="tab-icon fa-solid fa-globe"></a>
          <a href=database class="tab-icon fa-solid fa-database"></a>
      </aside>
      <main class="main-content">
        {% block main %}{% endblock %}
      </main>
      <footer></footer>
  </div>
  </body>
</html>