{% extends 'base.html' %}

{% block include %}
<script src="{{ url_for('static', filename='js/database.js') }}"></script>
{% endblock %}

{% block main %}
<div>
    <div class="header-container">
        <select id="db-table">
            <option value="">--Select table in database--</option>
        </select>
        <select id="db-column">
            <option value="">--Select column to filter by--</option>
        </select>
        <select id="db-filter">
            <option value="">--Select value to filter by--</option>
        </select>
    </div>

    <div class="db-container">
        <table id="db-table"></table>
    </div>
</div>
{% endblock %}