{% extends 'flight.html' %}

{% block extend_include %}
<script src="{{ url_for('static', filename='js/flight.js') }}"></script>
{% endblock %}

{% block header %}
<div class="header-container">
    <select id="flight-search">
        <option value="">--Search flight in database--</option>
    </select>
    <button id="play-flight" onclick="flightRun()">Run from beginning</button>
    <button id="display-flight" onclick="flightDisplay()">Display all</button>
    <button id="pause-flight" onclick="flightStop()">Stop</button>
    <button id="clear-flight" onclick="deleteSequence()">Clear</button>
    <button id="report-flight" onclick="flightGenerateReport()">Generate Report</button>
</div>
{% endblock %}