{% extends 'base.html' %}

{% block main %}
{% block header %}{% endblock %}
<div class="panel-container">
    <custom-card title="Launch Vehicle" class="item1" heigth="80%">
        <div>
            <div style="margin: 10px">Name: <span id="rocket-name"></span></div>
            <div style="margin: 10px">Motor: <span id="motor-name"></span></div>
            <div style="margin: 10px">Date: <span id="date"></span></div>
            <div style="margin: 10px">Location: <span id="location"></span></div>
            <div style="margin: 10px">Wind direction: <span id="wind-direction"></span></div>
            <div style="margin: 10px">Wind speed: <span id="wind-speed"></span></div>
            <div style="position: relative;">
                <model-viewer 
                    src="/static/3d/aptos.glb" 
                    ios-src="/static/3d/aptos.glb" 
                    alt="Aptos" 
                    camera-controls>
                </model-viewer>
                <div class="axis-overlay">
                    <img src="/static/assets/coordinates.png" alt="coordinates" width="30%">
                </div>
            </div>
        </div>
    </custom-card>
    <custom-card title="Altitude vs Time" class="item3">
        <div id="altChart"></div>
    </custom-card>
    <custom-card title="Velocity and Acceleration vs Time" class="item4">
        <div id="velChart"></div>
    </custom-card>
    <custom-card title="Vertical vs Actual flight" class="item5">
        <div id="controlChart"></div>
    </custom-card>
    <custom-card title="Stats" class="item6">
        <div class="stats-container">
            <custom-card title="Pressure" class="stat-item0" padding="5px">
                <div><span id="pressure"></span> Pa</div>
            </custom-card>
            <custom-card title="Temperature" class="stat-item1" padding="5px">
                <div><span id="temperature"></span> °C</div>
            </custom-card>
            <custom-card title="Humidity" class="stat-item2" padding="5px">
                <div><span id="humidity"></span> g.m-3</div>
            </custom-card>
            <custom-card title="GNSS Satellites" class="stat-item3" padding="5px">
                <div><span id="sattelites"></span></div>
            </custom-card>
            <custom-card title="Velocity" class="stat-item4" padding="5px">
                <div><span id="velocity"></span> m/s</div>
            </custom-card>
            <custom-card title="Acceleration" class="stat-item5" padding="5px">
                <div><span id="acceleration"></span></div>
            </custom-card>
            <custom-card title="Flight Stage" class="stat-item6" padding="5px">
                <div><span id="flight-stage"></span>  </div>
            </custom-card>
            <custom-card title="Battery" class="stat-item7" padding="5px">
                <div><span id="battery"></span> V</div>
            </custom-card>
            <custom-card title="Errors" class="stat-item8" padding="5px">
                <div><span id="nr-errors">  </span></div>
            </custom-card>
        </div>
    </custom-card>
    <custom-card title="Flight Stage" class="item7" height="20%">
        <div class="timeline-container">
            <div class="timeline-bar">
                <div class="timeline-milestone" style="left: 10%;">Liftoff</div>
                <div class="timeline-milestone" style="left: 40%;">Apogee</div>
                <div class="timeline-milestone" style="left: 50%;">Drogue</div>
                <div class="timeline-milestone" style="left: 60%;">Main</div>
                <div class="timeline-milestone" style="left: 90%;">Down</div>
            </div>
        </div>
    </custom-card>
    <custom-card title="Satellite view" class="item2">
        <div id="map" class="map"></div>
    </custom-card>
</div>
{% endblock %}
