{% extends 'base.html' %}

{% block head %}
LURA Dashboard
{% endblock %}


{% block body %}
<div class="dashboard">
    <aside class="sidebar">
        <img src="/static/assets/logo.png" class="tab-icon">
        <a href="#" class="tab-icon fa-solid fa-rocket"></a>
        <a href="#" class="tab-icon fa-solid fa-globe"></a>
        <a href="#" class="tab-icon fa-solid fa-database"></a>
    </aside>
    <main class="main-content">
            <!-- Main content header -->
            <header class="main-header">
                <!-- Header content like tabs or buttons -->
            </header>
            <!-- Content panels -->
            <div class="panel-container">
                <!-- Replace with actual data and functionality -->
                <div class="data-panel">Item one</div>
                <div class="data-panel">Item two</div>
                <div class="data-panel">Item three</div>
                <div class="data-panel">
                    <model-viewer 
                        src="/static/3d/aptos.glb" 
                        ios-src="/static/3d/aptos.glb" 
                        alt="Aptos" 
                        camera-controls>
                    </model-viewer>
                </div>
            </div>
            <!-- Footer or additional content -->
        </main>
</div>
{% endblock %}